# Root .gitignore

# Node.js / Monorepo
node_modules/
/.vscode
package-lock.json

# Build output
/dist/
/build/

# TypeScript
*.tsbuildinfo

# Server
/server/node_modules/
/server/src/output/


# Client
/client/node_modules/
/client/dist/
/client/build/

# Environment
.env

# Logs
*.log
npm-debug.log*
